.textArea {
    width: 60%;
    height: 200px;
    resize: none;
    align-self: center;
    margin-bottom: 30px;
    font-size: 17px;
    padding: 10px;
}

.btn {
    align-self: center;
    padding: 15px 100px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
}
